/* ------------------------ GENERAL ------------------------ */

body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0;
}

/* ------------------------ HEADERS ------------------------ */

h1 {
  text-align: center;
  vertical-align: 25em;
  font-size: 5em;
  text-shadow: 3px 3px rgba(0,0,0, 0.5);
  color: #000;
  margin-bottom: .1em;
}

.subtitle {
  text-align: center;
  font-size: 3em;
  text-shadow: 3px 3px rgba(0,0,0, 0.5);
  color: #000;
}

h2 {
  text-align: center;
  vertical-align: 100px;
  font-size: 3em;
  text-shadow: 2px 2px rgba(0,0,0, 0.5);
  color: #000;
  margin-top: .3em;
  margin-bottom: .6em;
  text-transform: uppercase;
  font-style: bold;
}

h3 {
  font-size: 1.5em;
  text-transform: uppercase;
  font-style: bold;
}

h4 {
  font-size: 1.2em;
  font-weight: bold;
  display: inline;
}

/* ------------------------ LINKS/BUTTONS ------------------------ */

a{
  font-weight: bold;
  color: #5C5C5C;
}

a:visited{
  color: #808080;
}

a:hover{
  transition-property: color, background-color, text-decoration;
  transition-duration: 0.4s;
  color: #FFF;
  background-color: #5C5C5C;
  text-decoration: none;
}

a.button {
  font-weight: 300;
  border: .3em solid white;
  color: #FFF;
  background-color: rgba(0,0,0, 0.5);
  padding: .5em;
  margin: auto;
  height: 10em;
  text-transform: uppercase;
  font-size: 1.7em;
  text-decoration: none;
}

a.button:visited{
  color: #FFF;	
}

a.button:hover {
  background-color: #FFF;
  color: rgba(0,0,0, 0.5);
  transition-property: color, background-color;
  transition-duration: 0.4s;
}

a.smallButton{
  font-weight: 300;
  border: .1em solid white;
  color: #FFF;
  background-color: rgba(0,0,0, 0.5);
  padding: .2em;
  margin: auto;
  height: 5em;
  text-transform: uppercase;
  font-size: 1em;
  text-decoration: none;
}

a.smallButton:visited{
  color: #FFF;
}

a.smallButton:hover{
  background-color: #FFF;
  color: rgba(0,0,0, 0.5);
  transition-property: color, background-color;
  transition-duration: 0.4s;
}

.connectButton{
  height: 20px;
  width: 20px;
  padding: .5% .5%;
  border: 0;
}

a.connectButton:hover{
  background-color: #FFF;
  color: rgba(0,0,0, 0.5);
  transition-property: color, background-color;
  transition-duration: 0.4s;
}

a.footerNavArrow{
  font-size: 1em;
  font-weight: 350;
  color: #161E4F;
  text-decoration: none;
}

a.footerNavArrow:hover{
  color: #FFF;
  /*transition-property: color, background-color;
  transition-duration: 0.4s;
  this slowly transition to grey background white letters*/
}

/* ------------------------ IMAGES ------------------------ */

/*img.icon {
  border: .2em solid white;
  color: #FFF;
  opacity: 1;
  background-color: transparent;
}

img.icon:hover{
  transition: .3s ease-in-out;
  opacity: .5;
  background-color: transparent;
}*/

a.imageLink{
  background-color: transparent;
}

a.imageLink:hover{
  background-color: transparent;
}


/* ------------------------ LISTS ------------------------ */

ul {
  display: inline-block;
  list-style-type: none;
  padding: .1em;
  margin: .1em;
}

ul li{
  display: inline-block
}

/* ------------------------ LAYOUT ------------------------ */

div {
  max-width: 100%;
  height: auto; 
  margin: 0px;
  padding: 2% 2%;
  background-color: #E6E6E6;
}

div.navHeader{
  line-height:5em;
  text-align:center;
  background-color: transparent;
  height: auto;
  margin: auto;
}

div.content{
  width: 50%;
  z-index: 1;
  height: auto;
  margin: auto;
  text-align: center;
  background-color: transparent;
}


div.footer {
  background-color: #EC8894;
  color: #161E4F;
  text-align: center;
}

div.titleSection {
  /*min-height: 45vw; /*must be <= ratio of width/height of background image*/ 
  background-image: url("https://postimg.org/image/5syw62n51/");
  background-repeat: no-repeat;
  background-color: transparent;
  background-color: #79D6BA;
}

div.aboutContent{
  width: auto;
  z-index: 1;
  height: auto;
  margin: auto;
  text-align: center;
  background-color: transparent;
}

div.aboutItem{
  width: 400px;
  margin: auto;
  padding: .5% .5%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  background-color: transparent;
}

div.footer {
  background-image: url("https://postimg.org/image/5syw62n51/");
  max-width: 100%;
  background-color: #EC8894;
  color: #161E4F;
  text-align: center;
}

div.navArrow{
  width: 50%;
  z-index: 1;
  height: auto;
  margin: auto;
  text-align: center;
  padding: 0px;
  background-color: transparent;
}
